.grid-container {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
    "h h h"
    "a m m"
    "a m m"
    "f f f";
    background-color: #191919;
    width: 100%;
    height: 120vh;
}




.header {
    grid-area: h;
    width: 100vw;
height: 10vh;
    background-color: black;
}

.aside_bar {
    grid-area: a;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 2vh;
    background-color: #212121;
    padding-bottom: 2vh;
    margin: -18vh 2vw 5vh 2vw;
    border: 1px solid white;
    border-radius: 7px;
}


.nav_buttons {
color: white;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 102.7%;
    padding-left: 0.5vw;

}

.nav_buttons:hover {
    color: burlywood;
    background-color: #191919;

}


.main-content {
    grid-area: m;
    margin-top: -18vh;
}


.footer {
    grid-area: f;
height: 10vh;
    margin-top: 18vh;
    background-color: #222222;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}


.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0.4%;
    flex-shrink: initial;
}

.header_input {
    width: 20%;
    height: 4%;
margin-right: 55vw;
    margin-left: 10vw;
}

.header_button {
    margin-left: 30%;

}


.logo_image {
    width: 100%;
    height: 100%;
    margin-left: 7vw;
    margin-right: 4vw;
}

.logo_route {
    width: 3%;
height: 3%;
}


.image {
    min-height: 400px;
}

.ui.card>.image>img, .ui.cards>.card>.image>img {
    height: 42vh;
}

.profile_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 35px 35px;
    grid-template-areas:
    "p i i"
    "p i i"
    "uf up up"
    "uf ps ps"
    "uf ps ps";
position: relative;
}

.image_container {
    grid-area: p;
}

.user_information {
    grid-area: i;

    width: 27.8vw;
}

.user_photos {
    grid-area: up;

    margin-top: -8.7vh;
    width: 27.8vw;
}




.my_user_posts {
    position: absolute;
    grid-area: ps;
    margin-top: -25.4vh;
    width: 27.8vw;
    height: 50vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

.user_posts {
    position: absolute;
    grid-area: ps;
    margin-top: -25.4vh;
    width: 27.8vw;
    height: 50vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

.user_friends {
    grid-area: uf;
}

.post_input {
    width: 100%;
}

.logo_footer{
    width: 3%;
    height: 80%;
}


.modalWindow {
    width: 100vw;
    height: 100vh;
}


.grid-container_modal {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
    "h h h"
    "a m m"
    "a m m"
    "f f f";
    background-color: #191919;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.modal_header {
    width: 100%;
}

.modal_input {
    width: 20vw;
}
.login_input {
    width: 20vw;
}

.video_container {
    width: 65vw;
}


.video_input {

    width: 49.5vw;

}

.ui.input>input {
    width: 47.5vw;
}
.ui.input>input {
    max-width: 49.5vw;
}

.video_button {
    position: relative;
    left: 47.5vw;
    top: 0.8vh;
}
.frame_container {
    width: 49.5vw;
    height: 100%;
}


h4.ui.header {
    width: 48vw;
    background-color: white;
    color: black;
    height: 10%;
}

.frame {
    width: 49.5vw;
    height: 50vh;
    margin-top: 20px;
}

.videos_thumb {
position: relative;
    left: 78%;
    top: -68vh;
    width: 100px;
    height: 70px;
}



.video-item {
    width: 300px;
    height: 120px;
}

.item {
    width: 23vw;
    height: 22vh;
}

.thumb_image {
    width: 100%;
    height: 85%;
}

.thumb_header {
    width: 100%;
    height: 100%;
    background-color: white;
    color: black;
}






